* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  width: 100%;
  height: 80px;
  position: relative;
  box-shadow: 0px 12px 15px 1px rgba(210, 210, 210, 0.3);
}
.navbar .navbar_list {
  list-style-type: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar .navbar_list .navbar_list_item {
  display: inline-block;
}

.navbar .navbar_list .navbar_list_item .navbar_list_item_link {
  color: gray;
  font-size: 19px;
  text-decoration: none;
  padding: 20px;
}

.navbar .navbar_list .navbar_list_item .navbar_list_item_link.outlet {
  color: #f76262;
}
.navbar .navbar_list .navbar_list_item .navbar_list_item_link.outlet:hover {
  border-left: 5px solid #f76262;
  color: #f76262;
}
.navbar .navbar_list .navbar_list_item .navbar_list_item_link:hover {
  border-left: 5px solid black;
  color: black;
}

.navbar .navbar_list .navbar_list_item .navbar_list_item_link i {
  padding-right: 5px;
  font-size: 20px;
}
